# Copie para /root/tps-rebuild/common.env fora do Git.
TPS_DOMAIN=tpsolutions.com.br
MEDIA_DOMAIN=studiosatweb.com.br
NS1_FQDN=ns1.tpsolutions.com.br
NS2_FQDN=ns2.tpsolutions.com.br
ACME_EMAIL=CHANGE_ME
MEDIAMTX_VERSION=v1.20.1
MEDIAMTX_SHA256=CHANGE_ME
DNSSEC_TPS=no
DNSSEC_MEDIA=yes
ENABLE_SRT=no
ENABLE_IPV6=no
# Nove estações atuais do plano de reconstrução.
STATIONS="radio-main radio-pop radio-rock radio-classicas radio-country tvkids-main tvteens-main tvviva-main tvmaisjovem-main"
